<h1>DASHBOARD</h1>
<md-content layout="row" layout-wrap>
    <div flex="25">
        <md-card md-colors="{'background': 'blue'}">
            <md-card-title >
                <span class="text-muted md-title">Total Sales</span>
                <span flex=""></span>
            </md-card-title>
            <md-card-content>
                <h3 class="m-0 font-normal">22,450</h3>
                <small class="text-muted">Monthly</small>
            </md-card-content>

        </md-card>
    </div>
    <div flex="25">
        <md-card md-colors="{'background': 'purple'}">
            <md-card-title>
                <span class="text-muted md-title">Unique Users</span>
                <span flex=""></span>
            </md-card-title>
            <md-card-content>
                <h3 class="m-0 font-normal">22,450</h3>
                <small class="text-muted">Monthly</small>
            </md-card-content>

        </md-card>
    </div>
    <div flex="25">
        <md-card md-colors="{'background': 'red'}">
            <md-card-title>
                <span class="text-muted md-title">Active Sessions</span>
                <span flex=""></span>
            </md-card-title>
            <md-card-content>
                <h3 class="m-0 font-normal">22,450</h3>
                <small class="text-muted">Monthly</small>
            </md-card-content>
        </md-card>
    </div>
    <div flex="25">
        <md-card md-colors="{'background': 'indigo'}">
            <md-card-title>
                <span class="text-muted md-title">Subscriptions</span>
                <span flex=""></span>
            </md-card-title>
            <md-card-content>
                <h3 class="m-0 font-normal">22,450</h3>
                <small class="text-muted">Monthly</small>
            </md-card-content>
        </md-card>
    </div>
    <div flex="100">
        <md-card>
            <md-card-title md-colors="{'background': 'blue-grey'}">
                <span class="text-muted md-title">Subscriptions</span>
                <span flex=""></span>
            </md-card-title>
            <md-card-content>
                <h3 class="m-0 font-normal">22,450</h3>
                <small class="text-muted">Monthly</small>
            </md-card-content>
        </md-card>
    </div>
</md-content>