<div ui-view="page" layout="row" flex="">
    <div class="navigation" ui-view="navigation">
        <div class="nav-title">
            MENU
        </div>
        <ui-icon-nav></ui-icon-nav>
    </div>
    <md-content class="flex">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h1>UI Console</h1>
                <span class="flex"></span>
                <md-button class="md-raised" aria-label="Partner">
                    NEKTAN
                </md-button>
                <md-button class="md-fab md-mini" aria-label="My Profile">
                    <md-icon md-font-icon="lnr lnr-user"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content ui-view="content">

        </md-content>
    </md-content>
</div>



