.main-container {
  height: 100%;

  .navigation {
    height: 100%;
    width: 64px;
    background-color: #333;
    color: #fff;

    .nav-title {
      display: block;
      width: 100%;
      line-height: 64px;
      text-align: center;
      font-size: 12px;
      color: #aaa;
    }
  }
}